
body{
    margin: 0%;
  }

p {
  font-family: 'Kanit', sans-serif;
}

.btn-primary{
  --mdb-btn-bg:#2937F0;
}

h2{
  font-family: 'Newsreader', serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #1E1E1E;
}
  
  header{
    padding: 20px;
    background-color: #F8F9FA;
    font-family: 'Kanit', sans-serif;
  }

  .navbar {
  box-shadow: none;
  }
  
  .box{
    width: 940px;
    position: relative;
    margin: 0 auto;
  }

  .navbar{
    padding: 0 5%;
  }

  nav a{
    color: #1E1E1E;
  }
  
  nav{
    position: absolute;
  }
  
  nav li{
  display: inline-block;
  margin: 0 0 0 15px;
  }

  .nav-link{
    color: #1E1E1E;
  }

  .nav-link:hover{
    color: #9F1AE2;
    font-weight: bold;
  }
  
  nav a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
  }
  
  
  /*home*/
  
  .principal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 0;
    background: linear-gradient(45deg, rgba(199,174,238,1) 0%, rgba(97,54,255,1) 100%);
    width: 100%;
    height: 560px;
    margin: 0 auto;
  }

  @media (min-width:414px){
    .principal{
      padding: 25em 0;
    }
  }

  .container-fluid{
    width: 50%;
  }
  
  .titulo-principal{
    color: #0f0d22;
    font-weight: bold;
    padding-top: 60px;
    text-align: right;
    font-size: 3rem; /*em -> tamaño padrón*/
    margin: 0 0 2em;
  }
  
  
  .principal p{
    margin: 0 0 1em;
    font-size: 20px;
    font-weight: bold;
    color:#eee;
  }
  
  
  .principal strong{
    font-weight: bold;
  }
  
  .principal em{
    font-style: italic;
  }
  
  .img-banner{
    width:450px;
    float:left; /*para que el elemento se destaque en la pantalla, la superficie del elemento continúa siendo utilizada y los otros elementos de texto o elementos en línea se posicionan alrededor de él*/
    margin: -115px 20px 20px 0;
  }

  .caracteristicas{
    background-color: #CCCCCC;
    padding:50px 0;
  }

  .caracteristicas-title{
    font-size: 20px;
  }

  .img-cursos{
    width:400px;
    padding-right: 50px;
    float:right;
  }
  
/* Features section styles */
#features {
  padding: 4rem 0;
  background-color: #fff;
}

#features h2 {
  text-align: center;
  margin-bottom: 4rem;
}

.features-container {
  display: flex;
  justify-content: center;
}

.feature {
  text-align: center;
  margin: 0 2rem;
  max-width: 300px;
}

.feature i {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #9F1AE2;
}

.feature h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.feature p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

/* Courses section styles */
#courses {
  padding: 4rem 0;
  background: linear-gradient(90deg, rgba(199,174,238,1) 0%, rgba(97,54,255,1) 100%);
}

#courses h2 {
  text-align: center;
  margin-bottom: 1rem;
}

#courses h3{
  color: #1E1E1E;
}

#subheading-courses{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #eee;
  margin-bottom: 3rem;
}

.course-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.course-card {
  background-color: #dad4eb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  margin-bottom: 15px;
  margin-left: 55px;
  margin-right: 55px;
  padding: 30px;
  width: 30%;
}

@media (min-width:414px){
  .course-card img{
    width: 240px;
  }
}

@media (min-width:1920px){
.course-card img{
  width: 500px;
}
}




footer{
  background-color: #0f0d22;
}
